<h2 mat-dialog-title>{{ data ? 'Editar Agendamento' : 'Novo Agendamento' }}</h2>

<form [formGroup]="agendamentoForm" (ngSubmit)="salvar()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Motorista</mat-label>
    <mat-select formControlName="motorista" required>
      <mat-option *ngFor="let motorista of motoristas" [value]="motorista">
        {{ motorista.nome }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="agendamentoForm.get('motorista')?.hasError('required')">Motorista é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Veículo</mat-label>
    <mat-select formControlName="veiculo" required>
      <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo">
        {{ veiculo.placa }} - {{ veiculo.modelo }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="agendamentoForm.get('veiculo')?.hasError('required')">Veículo é obrigatório</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Destino</mat-label>
    <input matInput formControlName="destino" required>
    <mat-error *ngIf="agendamentoForm.get('destino')?.hasError('required')">Destino é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Data e Hora de Saída</mat-label>
    <input matInput type="datetime-local" formControlName="dataInicio" required>
    <mat-error *ngIf="agendamentoForm.get('dataInicio')?.hasError('required')">Data é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Status</mat-label>
    <mat-select formControlName="statusAgenda" required>
      <mat-option *ngFor="let statusAgenda of statusOptions" [value]="statusAgenda">{{ statusAgenda }}</mat-option>
    </mat-select>
    <mat-error *ngIf="agendamentoForm.get('statusAgenda')?.hasError('required')">Status é obrigatório</mat-error>
  </mat-form-field>

  <div class="button-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      <ng-container *ngIf="!loading">Salvar</ng-container>
      <ng-container *ngIf="loading">
        <mat-progress-spinner diameter="20" mode="indeterminate" color="accent"></mat-progress-spinner>
      </ng-container>
    </button>

    <button mat-raised-button color="warn" type="button" (click)="cancelar()" [disabled]="loading">
      Cancelar
    </button>
  </div>
</form>
