<div class="admin-container">
  <mat-tab-group [(selectedIndex)]="abaSelecionada">
    <mat-tab label="Agendamentos"></mat-tab>
    <mat-tab label="Abastecimentos"></mat-tab>
    <mat-tab label="Manutenções"></mat-tab>
    <mat-tab label="Ocorrências"></mat-tab>
    <mat-tab label="Motoristas"></mat-tab>
    <mat-tab label="Veículos"></mat-tab>
  </mat-tab-group>

  <div class="conteudo">
    <ng-container [ngSwitch]="abaSelecionada">

      <!-- Aba 0: Agendamentos -->
      <div *ngSwitchCase="0">
        <app-agendamento-list></app-agendamento-list>
      </div>

      <!-- Aba 1: Abastecimentos -->
      <div *ngSwitchCase="1">
        <app-abastecimento-list></app-abastecimento-list>
      </div>

      <!-- Aba 2: Manutenções -->
      <div *ngSwitchCase="2">
        <app-manutencao-list></app-manutencao-list>
      </div>

      <!-- Aba 3: Ocorrências -->
      <div *ngSwitchCase="3">
        <app-ocorrencia-list></app-ocorrencia-list>
      </div>

      <!-- Aba 4: Motoristas -->
      <div *ngSwitchCase="4">
        <app-motorista-list></app-motorista-list>
      </div>

      <!-- Aba 3: Veículos -->
      <div *ngSwitchCase="5">
        <app-veiculo-list></app-veiculo-list>
      </div>

    </ng-container>
  </div>
</div>
