<h2 mat-dialog-title>Detalhes da Viagem</h2>

<mat-dialog-content>
  <p><strong>Destino:</strong> {{ agendamento.destino }}</p>
  <p><strong>Data Agendamento:</strong> {{ agendamento.dataAgendamento }}</p>
  <p><strong>Status:</strong> {{ agendamento.status }}</p>
  <p><strong>Motorista:</strong> {{ agendamento.motorista.nome }}</p>
  <p><strong>Veículo:</strong> {{ agendamento.veiculo.placa }}</p>
  <p *ngIf="agendamento.status === 'EM USO'"><strong>Data de Saída:</strong> {{ agendamento.dataInicio | date:'dd/MM/yyyy HH:mm' }}</p>
  <p *ngIf="agendamento.status === 'EM USO'"><strong>Quilometragem Inicial:</strong> {{ agendamento.quilometragemSaida }}</p>
  <p *ngIf="agendamento.status === 'EM USO'"><strong>Observações Iniciais:</strong> {{ agendamento.observacoesSaida }}</p>
  <p *ngIf="agendamento.status === 'FINALIZADO'"><strong>Data de Chegada:</strong> {{ agendamento.dataFinal | date:'dd/MM/yyyy HH:mm' }}</p>
  <p *ngIf="agendamento.status === 'FINALIZADO'"><strong>Quilometragem Final:</strong> {{ agendamento.quilometragemFinal }}</p>
  <p *ngIf="agendamento.status === 'FINALIZADO'"><strong>Observações Finais:</strong> {{ agendamento.observacoesFinal }}</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="fechar()">Fechar</button>
</mat-dialog-actions>
